# Node.js dependencies
/node_modules/
/.pnp
.pnp.js

# Testing output
/coverage

# Build output
/build

# Static files cache
/.cache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*.local

# Editor-specific files
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Miscellaneous
*.log
*.lock
*.gz
*.tgz
